<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calories tracker</title>
       {% include 'snippets/head.html'%}
</head>
<body>
<h2>How much do you eat?</h2>
<form action="/calories tracker" method="post">
    {% csrf_token %}
    {{ form.user }} <br>
    {{ form.datetime }} <br>
    {{ form.calories }}<br>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th> Day </th>
            <th> Amount of calories </th>
            <th> Actions </th>
        </tr>
    </thead>
<tbody>
    {% for c in calories %}
         <tr>
             <td> {{ c.datetime }} </td>
             <td> {{ c.calories }} </td>
             <td>
                 <a href="{% url 'delete_calories_tracker' %}?cid={{c.id}}" class="btn btn-danger">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash2" viewBox="0 0 16 16">
  <path d="M14 3a.702.702 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671L2.037 3.225A.703.703 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2zM3.215 4.207l1.493 8.957a1 1 0 0 0 .986.836h4.612a1 1 0 0 0 .986-.836l1.493-8.957C11.69 4.689 9.954 5 8 5c-1.954 0-3.69-.311-4.785-.793z"/>
</svg>
                     Delete</a>
             </td>
         </tr>
    {% endfor %}
</tbody>
</table>


</body>
</html>
