<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calories tracker</title>
       {% include 'snippets/head.html'%}
</head>
<body>
<h2>How much do you eat?</h2>
<form action="/calories tracker" method="post">
    {% csrf_token %}
    {{ form.username }} <br>
    {{ form.datetime }} <br>
    {{ form.calories }}<br>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
<table class="table table-striped">
    <thead>
        <th> Day </th>
        <th> Amount of calories </th>
    </thead>
</table>
<tbody>
</tbody>
</body>
</html>
