<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentication</title>
</head>
<body>
<h3>Sign in</h3>
<form action="/signin" method="post">
    {% csrf_token %}
    <label for="">Username</label>
    <input type="text" id="username" name="username" placeholder="Enter your username"Required>
    <br>
    <label for="">Password</label>
    <input type="password" id="password" name="password" placeholder="Enter your password"Required>
    <br>
    <button type ="submit">Sign in</button>
    <br>
</form>
</body>
</html>