<!DOCTYPE html>
 <html>
 <head>
 <title>HealthWealth</title>
</head>
<head>
     <h1>HealthWealth </h1>
     
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     {% include 'snippets/head.html'%}

</head>

<body>
{% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endif %}
    <!-- Body -->
    <style type="text/css">
        .main{
          min-height: 100vh;
          height: 100%;
        }
      </style>
    <div class="main">
            {% block content%}

            {% endblock content%}                
    </div>
    <!--End Body-->
    
    {% include 'snippets/footer.html'%}
</body>



</html>